Source: arco-tools
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@uclm.es>, Cleto Martin
 Angelina <cleto.martin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://arco.esi.uclm.es

Package: arco-tools
Architecture: all
Depends: ${misc:Depends}, arco-bin, arco-debian, arco-latex, arco-bashrc, arco-emacs, arco-make
Description: ARCO administrator tools
 Packaging and administrative tools for ARCO developers.


Package: arco-bin
Architecture: all
Depends: ${misc:Depends}
Description: ARCO administrator tools
 Administrative tools for ARCO developers.

Package: arco-debian
Architecture: all
Depends: ${misc:Depends}, dh-make, devscripts
Description: ARCO debian tools
 Packaging tools for ARCO developers.

Package: arco-make
Architecture: all
Depends: ${misc:Depends}
Description: ARCO include Makefiles.
 ARCO Makefiles for ARCO developers.

Package: arco-latex
Architecture: all
Depends: ${misc:Depends}, texlive-binaries, inkscape, arco-make
Description: ARCO LaTeX tools
 LaTeX tools for ARCO developers.

Package: arco-bashrc
Architecture: all
Depends: ${misc:Depends}, inotify-tools
Description: Scripts for your bashrc.
 ARCO bashrc scripts for ARCO developers.

Package: arco-emacs
Architecture: all
Depends: ${misc:Depends}, emacs23, yasnippet
Description: ARCO emacs-helper files.
 ARCO Emacs files for ARCO developers.






