Source: arco-tools
Section: shells
Priority: extra
Maintainer: ARCO Research Group <sysadm@arco.esi.uclm.es>
Uploaders: David Villa Alises <David.Villa@uclm.es>
Build-Depends: debhelper (>= 7.0.50~), yasnippet, emacs-goodies-el
Standards-Version: 3.9.2
Homepage: https://arco.esi.uclm.es/svn/public/prj/arco-tools

Package: arco-tools
Architecture: all
Depends: ${misc:Depends}, arco-authors (= ${source:Version}), arco-devel (= ${source:Version}), arco-user (= ${source:Version})
Description: ARCO administrator tools
 Packaging and administrative tools for ARCO developers.

Package: arco-authors
Replaces: arco-latex
Recommends: unoconv
Conflicts: arco-latex, arco-make
Architecture: all
Depends: ${misc:Depends}, texlive-binaries, inkscape, dblatex, rubber, netpbm, dia, aspell-en
Description: ARCO authors tools
 LaTeX tools for ARCO authors.

Package: arco-devel
Replaces: arco-make, arco-debian, arco-bashrc
Conflicts: arco-make, arco-debian, arco-bashrc
Architecture: all
Depends: ${misc:Depends}, yasnippet, devscripts-el, emacs-goodies-el, aexec, auto-complete-el
Suggests: libnotify-bin
Description: ARCO devel tools
 Tools for ARCO developers.

Package: arco-user
Replaces: arco-bin
Conflicts: arco-bin
Architecture: all
Depends: ${misc:Depends}, pdftk
Description: ARCO user and staff tools
 Tools for ARCO user and staff.

Package: arco-emacs-python
Architecture: all
Depends: ${misc:Depends}, arco-devel, pylint, pep8, pyflakes
Description: Python emacs support
 Emacs packages and utilities for Python programming
